h1, h2, h3 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: black;
}

h1 {
  /* Заголовок */

  font-weight: 500;
  font-size: 26px;
  line-height: 28px;
  letter-spacing: 0.01em;
}

h2 {
  /* Заголовок 2 */

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.15px;
  margin-top: 40px;
  margin-bottom: 25px;
}

h3 {
  /* Заголовок 3 */

  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  letter-spacing: 0.15px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.custom-subheader {
  /* Подзаголовок */

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.01em;

  color: rgba(0, 0, 0, 0.6);
}

p, li {
  /* Параграф */

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px !important;
  line-height: 22px !important;
  letter-spacing: 0.15px !important;

  margin: 19px 0 !important;

  color: rgba(0, 0, 0, 0.87) !important;
}

td {
  min-width: 150px;
  padding: 10px;
  border: 1px solid lightgray;
}

table {
  margin: 20px 0;
  overflow-x: scroll;
  width: 100%;
  display: block;
  border-collapse: collapse;
}